.container {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Gilam', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 239px;
    background: #171717;
}
/*Header block start*/
.header {
    display: flex;
    width: 1460px;
    justify-content: space-between;
}

.logo {
    margin-top: 55px;
}

.callback {
    margin-top: 62px;
    margin-bottom: 63px;
    white-space: nowrap;
}

.phone-img {
    padding-right: 10px;
    padding-left: 26px;
}

.callback_btn {
    font-family: 'Circe', sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 25px 10px 0;

    border: 1px solid #E4B564;
    color: #E4B564;
}
/*Header block end*/

/*Main block start*/
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/*Background images*/
.first-bg-section {
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
}

.second-bg-section {
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
}

.third-bg-section {
    background-image: url("../img/Rectangle169.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
}
/*End of background images*/

.h1-style {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}

.h2-style {
    max-width: 1200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}

/*First section*/
.h1-first-section {
    margin-bottom: 41px;
    margin-top: 80px;
}

.first-cards-section {
    display: grid;
    grid-template-rows: repeat(4, 220px);
    grid-template-columns: repeat(6, 220px);
    grid-column-gap: 28px;
    grid-row-gap: 27px;

    margin-top: 41px;
    margin-bottom: 140px;
}

.first-card:first-child {
    grid-area: 1 / 1 / 3 / 3;
}

.first-card:nth-child(2) {
    grid-area: 1 / 3 / 3 / 5;
}

.first-card:nth-child(3) {
    grid-area: 1 / 5 / 3 / 7;
}

.first-card:nth-child(4) {
    grid-area: 3 / 1 / 5 / 4;
}

.first-card:last-child {
    grid-area: 3 / 4 / 5 / 7;
}

.first-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;

    display: grid;
    justify-items: center;
    align-items: center;

    height: 468px;
}

.first-item-style-1 {
    width: 467px;
    background: #634F2C;
}

.first-item-style-2 {
    text-align: center;
    width: 467px;
    background: #B4A385;
}

.first-item-style-3 {
    width: 467px;
    background: #E4B564;
}

.first-item-style-4 {
    width: 715px;
    background: #635A4A;
}

.first-item-style-5 {
    width: 715px;
    background: #B08C4D;
}

/*Second section*/
.h1-second-section {
    margin-bottom: 94px;
    margin-top: 80px;
}


.second-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-column-gap: 29.5px;
    margin-bottom: 140px;
}

.inner-column-1 {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 313px 560px;
    row-gap: 24px;
}

.inner-column-2 {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 439px 405px;
    row-gap: 33px;
}

.inner-column-3 {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-rows: 255px 313px 277px;
    row-gap: 26px;
}

.second-card-1:first-child {
    grid-area: 1 / 1 / 2 / 2;
}

.second-card-1:last-child {
    grid-area: 2 / 1 / 3 / 2;
}

.second-card-2:first-child {
    grid-area: 1 / 1 / 2 / 2;
}

.second-card-2:last-child {
    grid-area: 2 / 1 / 3 / 2;
}

.second-card-3:first-child {
    grid-area: 1 / 1 / 2 / 2;
}

.second-card-3:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.second-card-3:last-child {
    grid-area: 3 / 1 / 4 / 2;
}

.second-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;

    display: block;
    width: 467px;
    box-sizing: border-box;
    padding-left: 52px;
    padding-top: 44px;
}
.bald-uppercase {
    font-weight: bold;
}

.second-item-style-1 {
    height: 313px;
    background: #0E0E0E;
}

.second-item-style-2 {
    height: 560px;
    background: #1F1F1F;
}

.second-item-style-3 {
    height: 439px;
    background: #242424;
}

.second-item-style-4 {
    height: 405px;
    background: #0A0909;
}

.second-item-style-5 {
    height: 255px;
    background: #1F1F1F;
}

.second-item-style-6 {
    height: 313px;
    background: #0E0E0E;
}

.second-item-style-7 {
    height: 277px;
    background: #0A0909;
}

.second-item:hover {
    color: #000000;
    background: #E4B564;
}

/*Third section*/
.third-section {
    position: relative;
    width: 1460px;
}

.h1-third-section {
    position: absolute;
    top: 172px;
    left: 0;
    margin-bottom: 72px;
}
.all-project{
    position: absolute;
    top: 177px;
    right: 0;
}
.all-projects-btn {
    font-family: 'Circe', sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 39px 10px 40px;

    border: 1px solid #E4B564;
    color: #E4B564;
}

.third-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;

    display: block;
    text-align: center;
}

.hover-bold {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.hover-text {
    max-width: 320px;
    display: none;
    text-align: center;
    padding-top: 16px;
}

.third-section-list {
    /*width: 1460px;*/
    margin-top: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.third-item {
    width: 486px;
    height: 381px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.third-item-list-1 {
    background: #634F2C;
}

.third-item-list-2 {
    background: #E8D2AB;
}

.third-item-list-3 {
    background: #E4B564;
}

.third-item-list-4 {
    background: #635A4A;
}

.third-item-list-5 {
    background: #B08C4D;
}

.third-item-list-6 {
    background: #634F2C;
}


/*Transparency separately for each card*/

.third-item-list-1:hover {
    background: rgba(99, 79, 44, 0.76);
}
.third-item-list-2:hover {
    background: rgba(232, 210, 171, 0.76);
}
.third-item-list-3:hover {
    background: rgba(228, 181, 100, 0.76);
}
.third-item-list-4:hover {
    background: rgba(99, 90, 74, 0.76);
}
.third-item-list-5:hover {
    background: rgba(176, 140, 77, 0.76);
}
.third-item-list-6:hover {
    background: rgba(99, 79, 44, 0.76);
}


/*Transparency same for each card*/

/*.third-item:hover {*/
/*    background: rgba(232, 210, 171, 0.76);*/
/*}*/


/*Appearing of text*/

.third-item:hover .hover-text {
    display: block;
}